<div class="wrapper fadeInDown">
  <div id="formContent" class="size-wrapper">
    <p *ngIf="returnError">
      <ngb-alert [dismissible]="true" (closed)="closeAlert()">
        <strong>Attention !</strong> {{returnMessage}}.
      </ngb-alert>
    </p>
    <br>
    <div class="fadeIn first">
      <h3>Inscription</h3>
      <br>
    </div>
    <div>
      <div class="d-flex flex-row mx-auto name-lastname">
        <input type="text" #name class="fadeIn second " placeholder="Prenom">
        <input type="text" #lastname class="fadeIn second" placeholder="Nom">
      </div>
      <select #promo class="fadeIn second">
        <option value="">Promo</option>
        <option value="1I">1I</option>
        <option value="1A">1A</option>
        <option value="2I">2I</option>
        <option value="2A">2A</option>
        <option value="3A">3A</option>
        <option value="4A">4A</option>
        <option value="5A">5A</option>
      </select>
      <input type="text" #login class="fadeIn second" placeholder="Login">
      <input type="password" #password class="fadeIn third" placeholder="Mot de passe">
      <br><br>
      <input type="submit" class="fadeIn fourth" value="Valider"
             (click)="subscribeUser(name.value,lastname.value,login.value,password.value,promo.value)">
    </div>

    <div id="formFooter">
      <a class="underlineHover" routerLink="/login" routerLinkActive="active">Connexion</a>
    </div>
  </div>
</div>
